<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="./static/apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">

    <title>Form Submitted</title>
    <link href="./static/css/style.css" rel="stylesheet">
    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
    <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li><a href="index.html" class="nav-item nav-link">Home</a></li>
                    <li><a href="about.html" class="nav-item nav-link">About</a></li>
                    <li><a href="service.html" class="nav-item nav-link">Service</a></li>
                    <li><a href="price.html" class="nav-item nav-link">Price</a></li>
                    <li><a href="class.html" class="nav-item nav-link">Class</a></li>
                    <li><a href="team.html" class="nav-item nav-link">Trainer</a></li>
                    <li><a href="portfolio.html" class="nav-item nav-link">Pose</a></li>
                    <li><a href="contact.html" class="nav-item nav-link">Contact</a></li>
                </ul>


            </div>
        </div>
    </nav>
</header>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>Thank you! I will get in touch with you, shortly!</h3>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <a href="index.html" class="footer-logo">Y<span>oo</span>ga</a>
                <h3>123 Street, New York, USA</h3>
                <div class="footer-menu">
                    <p>+012 345 67890</p>
                    <p>info@example.com</p>
                </div>
                <div class="footer-social">
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        <p>© Code With Rohit | Website created By Rohit Joshi</p>
                        <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });


    </script>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="./static/lib/easing/easing.min.js"></script>
<script src="./static/lib/wow/wow.min.js"></script>
<script src="./static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="./static/lib/isotope/isotope.pkgd.min.js"></script>
<script src="./static/lib/lightbox/js/lightbox.min.js"></script>

<!-- Contact Javascript File -->
<script src="./static/mail/jqBootstrapValidation.min.js"></script>
<script src="./static/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="./static/js/main.js"></script>
</html>